# Data Science tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**

- List popular languages that data scientists use
- List commonly used libraries used in data science
- Examples of evaluating arithmetic expressions
- convert 200 minutes into hours

#### Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3.SQL

#### Some of the commonly used libraries used by Data Scientists include
1. Pandas
2. Numpy
3. SciPy 
4. ggplot
5. caret

## 
|Data science tools |
|------------------ |
| weka              |
| Haddop            |
| Apache spark      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# addition 
a=2
b=3
a+b

5

In [3]:
# multiplication
a=3
b=7
a*b

21

## This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [7]:
a= 200/60
print("200 minutes =",a, "hours")

200 minutes = 3.3333333333333335 hours

## Author
 Sukrati